#conteudo { margin-top: 20px; width: 90%; margin:auto; }

#conteudo img { width: 400px; height: 400px; margin: auto; margin: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19) ; border: 2px solid white; width: 45%;}


.enfeite { width: 60%; height: 100px;  }

.img-enfeite {position: relative; width: 50%; height: 250px; margin: auto; top: 50px; text-align: center;}

.enfeite-topo {width: 60%; height: 100px;}

.img-enfeite-topo { width: 50%; height: 150px; margin: auto; text-align: center; position: relative; -ms-transform: rotate(180deg);  -webkit-transform: rotate(180deg); transform: rotate(180deg); padding-top: 50px;}